.Item {
  background-color: aqua;
  color: white;
  height: 40px;
  width: 250px;
  border-radius: 4px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.Item p {
  padding: 10px;
  position: absolute;
}
.Item span button {
  position: absolute;
  right: 800px;
  margin: 0 5px;
}
.items{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.items button{
  background-color: blue;
  height: 40px;
  padding: 2px;
  margin:2px;
  border-radius: 4px;
  color:white;

}
